/*Base Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Universal Styling*/
html{
    background-color: #ffffff;
    color: #555;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 71.25rem;
    margin: 0 auto;
}

header {
    background-image: url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}